.modal {
  background: #fff;
  position: relative;
  transition: all $transitionTime;
  border-radius: 12px;
  width: 96%;
  @include breakpoint(smallscreen) {
    max-width: 80%;
    width: 850px;
  }

  &__wrapper {
    max-height: 90vh;
    @include breakpoint(smallscreen) {
      margin: 20px;
    }
  }

  &.is-open {
    opacity: 1;
    pointer-events: auto;

    .modal__close {
      display: flex;
    }
  }

  &__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#000, 0.5);
    z-index: $modalZIndex;
    opacity: 0;
    pointer-events: none;
    transition: all $transitionTime;
    display: flex;
    align-items: center;
    justify-content: center;
    &.is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__header {
    display: flex;
    position: relative;
    padding: 10px 0 5px 10px;
  }

  &__title {
    color: $fontPrimaryColor;
    width: calc(100% - 42px);
    padding-top: 2px;
  }

  &__close {
    &__button {
      margin-left: 5px;
      background-color: #e9e9e9;

      &:hover,
      &focus {
        background-color: $dangerColor;

        .modal__close__icon {
          path {
            fill: #fff;
          }
        }
      }
    }

    &__icon {
      path {
        fill: rgb(122, 122, 122);
      }
    }
  }

  &__container {
    padding: 5px 10px 15px 10px;
    @include breakpoint(smallscreen) {
      padding: 2px 10px 25px 10px;
    }
  }

  &__content {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 200px);
    @include breakpoint(smallscreen) {
      max-height: calc(100vh - 150px);
    }

    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #343842;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #40434b;
    }
  }

  &__cta {
    margin-top: 15px;
    display: flex;

    &__item {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  &__options-wrapper {
    display: flex;
    justify-content: center;
  }
}
